<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="chat in chats" href="#/app/chats/{{chat.id}}" class="item-avatar" ng-click="setCurrentChat(chat.id, '{{chat.avatar}}', chat.chat_title, false)">
	      <img ng-src={{chat.avatar}}>
	      <h2>{{chat.chat_title}}</h2>
	      <p>{{chat.last_message}}</p>
      </ion-item>
		  <div ng-if="chats.length == 0" class="item item-divider">
		    No recent Chats
		  </div>
		  <div ng-if="!chats" class="item item-divider">
		    No recent Chats
		  </div>
    </ion-list>
  </ion-content>
</ion-view>