<ion-view view-title="{{chat.chat_title}}">
	<ion-content class="padding" start-y="120">
	
		<ol class="messages">
			<li ng-repeat="message in messages" ng-class="(message.user_id == current_user_id) ? 'my-message' : 'your-message'">

				<p ng-bind-html="message.content"></p>
			</li>
		</ol>
		
	</ion-content>
	<ion-footer-bar class="bar-frosted">
		<label class="item item-input" style="width: 100%;padding-top: 20px;border: none;">
			<textarea placeholder="Message" ng-model="chatInput" id="chatInput"></textarea>
		</label>

		<button class="button button-clear button-positive" ng-disabled="!chatInput" ng-click="sendMessage(chatInput, '1447851336861.144043')">Send</button>
	</ion-footer-bar>
</ion-view>


