<ion-view view-title="{{contact.username}}">
	<ion-content>
		<div class="list card">
			<div class="item item-avatar">
				<img src="{{contact.avatar}}">
				<h2>{{contact.first_name}} {{contact.last_name}}</h2>
				<p>{{contact.username}}</p>
			</div>

			<div class="item item-body">
				<img class="full-image" src="{{contact.avatar}}">
				<a class="button button-icon icon ion-chatbubbles" ng-click="initChat(contact)" style="font-size: 60px;float: right;"></a>
				<p>
					Email: <a href="{{contact.email}}">{{contact.email}}</a>
				</p>
				<p>
					Phone: {{contact.phone}}
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>